<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
	"http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<title><%= title %></title>
	
	<script src="/js/drawing_methods.js"></script>
</head>
<body id="body" onload="<%= drawing_function %>">
	<canvas id="canvas" style="border: 1px solid;" width="320" height="400">Canvas support required</canvas>
</body>
</html>